name: FreeBSD CI

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run in FreeBSD VM
        uses: vmactions/freebsd-vm@v0
        with:
          release: "13.2"
          run: |
            uname -a
            
