name: test

on:
  workflow_dispatch:   # Allows manual trigger

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up kotlin
        uses: actions/java@v4
      - run: java --version
