name: Build Solidity

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      # Install dependencies (GCC 13, CMake, Make, etc.)
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Install dependencies
        run: |
          java --version 
          gradle
