name: Run

on:
  workflow_dispatch:   # manual trigger

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - run: |
           sudo apt install qemu-system-x86-64 -y
           qemu-system-x86_64 --enable-kvm --version
  
