name: Run

on:
  workflow_dispatch:   # Only runs when triggered manually

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Install system dependencies
        run: |
          system_profiler SPHardwareDataType

      
