name: Run

on:
  workflow_dispatch:   # Only runs when triggered manually

jobs:
  build:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Install system dependencies
        run: |
          sudo apt update -y
          sudo apt install curl python3 -y 
          curl --silent https://raw.githubusercontent.com/FEX-Emu/FEX/main/Scripts/InstallFEX.py | python3

      
