name: build arm

on: workflow_dispatch

jobs:
  info:
    runs-on: windows-latest
    steps:
      
      - name: Run
        run: |
         chocolatey install fastfetch
         fastfetch 
          

      
