name: Build

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest 
    container:
      image: matheusmayron8/android-sdk-34:latest

    steps:
      - name: Setup Environment
        run: |
          apt update -y
          # Added libsfml-dev via apt
          apt install git cmake ninja-build libsfml-dev -y
          
          git clone https://github.com/SFML/SFML.git
          cd SFML/examples/android && chmod +x gradlew 
          
          # We still use the git source for the Android build
          ./gradlew assembleDebug
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: android-debug-apk
          path: SFML/examples/android/app/build/outputs/apk/debug/*.apk
