name: Run

on:
  workflow_dispatch:   # allows manual trigger
                  # or run on push

jobs:
  screenshot:
    runs-on: ubuntu-latest

    steps:
      - name: rust
        uses: actions/setup-rust@v1

      - name: Install dependencies
        run: |
          cargo -V
          
