name: Android CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Install Git
        run: |
          choco install zig -y


      - name: Build project
        run: |
          zig 
