name: Build

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest 
    container:
      image: ubuntu:26.04

    steps:
      - name: Setup Environment
        run: |
          sudo apt update -y
          sudo apt install fastfetch -y
          fastfetch
