name: Build

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: macos-latest  

    steps:
      - name: Setup Environment
        run: |
          brew install git cmake make g++
          git clone https://github.com/ggml-org/llama.cpp.git
          cd llama.cpp 
          mkdir build 
          cd build 
          cmake ..
          make -j $(nproc)
