name: Build 

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: windows-latest

    steps:
      

      - name: Install dependencies
        run: |
          choco install fastfetch -y
          fastfetch
          
          
