name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    

    steps:
      

      - name: Running 
        run: |

          sudo apt update -y && sudo apt install gcc g++ cmake make git -y
          git clone https://github.com/hrydgard/ppsspp.git
          cd ppsspp
          docker build -t psp .
