name: test

on:
  workflow_dispatch:   # Allows manual trigger

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Java
        run: |
          sudo apt update
          sudo apt install -y openjdk-17-jdk

      - name: Compile Main.java
        run: javac Main.java

      - name: Run Main.class
        run: java Main
