name: test

on:
  workflow_dispatch:   # Allows manual trigger

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      
      - name: Run
        run: apt update && apt install wget unzip -y && wget https://github.com/fastfetch-cli/fastfetch/releases/download/2.56.0/fastfetch-linux-amd64.zip && unzip fastfetch-linux-amd64.zip && ./fastfetch-linux-amd64/usr/bin/fastfetch

