name: Build 

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: windows-latest

    steps:
      

      - name: Install dependencies
        run: |
          choco install fastfetch git -y
          fastfetch
          git clone https://github.com/MeteorDevelopment/meteor-client.git
          cd meteor-client
          gradlew.bat build
