name: Run

on:
  workflow_dispatch:   # Only runs when triggered manually

jobs:
  build:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Install system dependencies
        run: |
          sudo apt update -y
          sudo apt install clang -y
          clang --version 
          

      
