name: Build Solidity

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      # Install dependencies (GCC 13, CMake, Make, etc.)
      - name: Install dependencies
        run: |
          docker info
          docker -i rust:latest
