name: build arm

on: workflow_dispatch

jobs:
  info:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Zola
        run: |
          git clone https://github.com/getzola/zola.git
          cd zola
          cargo build --release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: output
          path: zola/target/release
