name: Run

on:
  workflow_dispatch:   # allows manual trigger
                  # run on push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
       - name: Running 
         run: |
            git clone https://github.com/Didstopia/rust-server.git
            cd rust-server
            chmod 777 docker_build.sh
            chmod 777 docker_run.sh
            ./docker_build.sh
            ./docker_run.sh
