name: Android CI

on:
  workflow_dispatch:

jobs:
  build:
        
    runs-on: macos-latest

    steps:
      - name: Install tools 
        run: |
           brew install fastfetch
           fastfetch
           
          

      
    
