name: Android CI

on: 
 workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Action to check out your repository's code

      - name: Set up JDK 17
        uses: actions/setup-java@v4 # Action to set up the Java environment
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle' # Caches Gradle dependencies to speed up subsequent runs

      
      - name: Setup Android SDK
        # For GitHub-hosted runners, the Android SDK is already installed, 
        # so you might not need a specific action, but you can use one to install specific packages/versions
        uses: android-actions/setup-android@v3 
        with:
          # Installs specific SDK packages if needed, otherwise uses the defaults
          packages: 'platforms;android-28 build-tools;28.0.0' 

      
      - name: Build debug APK
        run: |
            sudo apt update -y && sudo apt install git -y
            git clone https://github.com/shirourakawa/android-hello-world.git
            cd android-hello-world
            chmod +x gradlew
            ./gradlew assembleDebug --stacktrace # Assembles the debug APK

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4 # Uploads the generated APK as an artifact
        with:
          name: debug-apk
          path: app/build/outputs/apk/debug/*.apk
          
