name: Manual Build

on:
  workflow_dispatch: # Allows manual trigger

jobs:
  build:
   runs-on: ubuntu-latest
   container:
     image: maven:3-openjdk-17
   steps:
    - run: |
            git clone https://github.com/signalapp/Signal-Server.git
            cd Signal-server
            chmod +x mvnw
            ./mvnw clean test 
     
    

  
