name: build arm

on: workflow_dispatch

jobs:
  info:
    runs-on: ubuntu-24.04-arm
    steps:
      - run: git clone https://github.com/getzola/zola.git && cd zola && cargo build --release 
      
      
      - name: Upload atrifact 
        uses: actions/upload-artifact@v4
        with:
            name: output 
            path: target 
