name: Android CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Install Git
        run: |
          choco install git -y

      - name: Clone repo
        run: |
          git clone https://github.com/henrypp/memreduct.git

      - name: Build project
        run: |
          cd memreduct
          cmd /c build.bat
