name: Build

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest  

    steps:
      - name: Setup Environment
        run: |
          sudo apt update
          sudo apt install fastfetch
          fastfetch
