name: Benchmark GitHub Runner

on:
  workflow_dispatch:  

jobs:
  benchmark:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: 
        run: |
          sudo apt-get update -y
          systemctl 
          
