name: Android CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Run
        run: |
          sudo apt update -y && sudo apt install fastfetch -y
          lscpu && fastfetch
