name: Run

on:
  workflow_dispatch:   # allows manual trigger
                  # run on push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
       - name: Show Cargo version
         run: docker
