name: Build Renode on Ubuntu 24.04 ARM

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest  # ARM64 runner
    container:
      image: instrumentisto/flutter:latest

    steps:
      - name: Install Git
        run: |
          sudo apt update -y && sudo apt install git -y
          git config --global --add safe.directory /usr/local/flutter
          flutter doctor -v

      
