name: Android CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          # Use the latest stable SDK + build tools
          packages: |
            platforms;android-34
            build-tools;34.0.0

      - name: Build debug APK
        run: |
          sudo apt update -y && sudo apt install git -y
          git clone https://github.com/shirourakawa/android-hello-world.git
          cd android-hello-world
          chmod +x gradlew
          ./gradlew assembleDebug --stacktrace

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: app/build/outputs/apk/debug/*.apk
