name: Manual Build

on:
  workflow_dispatch: # Allows manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: gradle:jdk17

    steps:
       - run: |
            git clone https://github.com/skylot/jadx.git
            cd jadx
            ./gradlew dist
          

      
