name: Run

on:
  workflow_dispatch:   # allows manual trigger
                  # run on push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Show Cargo version
        run: cargo -V
