name: Run

on:
  workflow_dispatch:   # allows manual trigger
                  # or run on push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: rust
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: run
        run: |
          cargo -V
          
