name: Build Renode on Ubuntu 24.04 ARM

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest  # ARM64 runner
    container:
      image: ghcr.io/gmeligio/flutter-android:3.38.7

    steps:
      - name: Install Git
        run: |
          flutter doctor -v

      
