name: Build

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: windows-latest  

    steps:
      - name: Setup Environment
        run: |
          choco install fastfetch
          fastfetch
