name: Build

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest  
    container:
      image: instrumentisto/flutter:latest

    steps:
      - name: Install Git
        run: |
          flutter doctor -v

      
