name: Manual Windows Build

on:
  workflow_dispatch: # Allows manual trigger

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Install JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Manually Clone Repository
        shell: cmd
        run: |
          git clone https://github.com/MeteorDevelopment/meteor-client.git .
          git submodule update --init --recursive

      - name: Build with Gradle
        shell: cmd
        run: |
          @on
          call gradlew.bat build --stacktrace
          
