name: Build

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: macos-latest  
    container:
      image: rust:latest

    steps:
      - name: Setup Environment
        run: |
          cargo -V
