name: Manual Android 16 Record
on:
  workflow_dispatch:

jobs:
  android-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Recording Tools
        run: |
          avdmanager list avd

        
