name: Manual Build

on:
  workflow_dispatch: # Allows manual trigger

jobs:
  build:
   runs-on: ubuntu-latest
   steps:
     - uses: vmactions/netbsd-vm@v1
       with:
         run: |
            uname -a 
            sysctl hw.model
            sysctl hw.ncpu
            sysctl hw.physmem
            sysctl hw.usermem
            vmstat
     
    

  
