name: Android CI

on:
  workflow_dispatch:

jobs:
  build:
        
    runs-on: windows-latest

    steps:
      - name: Install tools 
        run: |
           choco install fastfetch
           fastfetch
           systeminfo
          

      
    
