name: Browser Screenshot Video

on:
  workflow_dispatch:

jobs:
  record-browser:
    runs-on: windows-latest

    steps:
      - name: Install Playwright
        run: |
          choco install siv
          siv
