name: Building

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'temurin'

      - name: Install dependencies and build
        run: |
          sudo apt update -y && sudo apt install git -y
          git clone https://github.com/Col-E/Recaf.git
          cd Recaf
          chmod +x gradlew
          ./gradlew build

      - name: Uploading build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: recaf-build
          path: Recaf/build/libs/*.jar
