name: Build

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest  
    container:
      image: rustlang/rust:nightly 

    steps:
      - name: Install Git
        run: |
          cargo -V

      
