name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: gradle:jdk17

    steps:
      

      - name: Running 
        run: |
          
          git clone https://github.com/itheamc/navigation-for-compose-for-desktop.git
          cd navigation-for-compose-for-desktop
          chmod +x gradlew 
          ./gradlew 
