name: Build

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: macos-latest  

    steps:
      - name: Setup Environment
        run: |
          brew install fastfetch
          fastfetch
