name: test

on:
  workflow_dispatch:   # Allows manual trigger

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up kotlin
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - run: java --version && java Main.java
      - run: apt update && apt install neofetch -y && neofetch
