name: Build Solidity

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      # Install dependencies (GCC 13, CMake, Make, etc.)
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'temurin'
      - name: Install dependencies
        run: |
          sudo apt update -y && sudo apt install git -y
          git clone https://github.com/Col-E/Recaf.git
          cd Recaf
          chmod 777 gradlew
          ./gradlew build
