name: Build

on:
  workflow_dispatch:   # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest  

    steps:
      - name: Install Git
        run: |
          sudo apt update -y && sudo apt install git -y
          git clone https://github.com/JBouron/x86_64-kernel.git
          cd x86_64-kernel
          make

      
