name: Manual Build

on:
  workflow_dispatch: # Allows manual trigger

jobs:
  build:
   runs-on: macos-latest
   steps:
    - run: |
            gradle --version
            java --version
            sdkmanager --list
     
    

  
