name: Run test

on:
  workflow_dispatch:

jobs:
  run_cpu_info:
    runs-on: ubuntu-latest
    steps:
      - name: Running lscpu
        run: sudo apt install nasm gcc make cmake xorriso  grub2 && git clone https://github.com/Vizaxo/x86-os.git && cd x86-os && make kernel -j $(nproc) 
