name: Build Rust in Docker

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      
      # Run container interactively to verify Rust installation
      - name: Verify Rust installation
        run: |
          docker run -it  rustc --version
