name: nehal

on:
  workflow_dispatch:

jobs:
  build:
     runs-on: ubuntu-latest

     steps:
       - name: run
         run: |
           git clone https://github.com/jython/jython.git
           cd jython
           chmod 777 gradlew
           ./gradlew publish 
       
