name: nehal

on:
  workflow_dispatch:

jobs:
  build:
     runs-on: ubuntu-latest

     steps:
       - name: run
         run: |
           git clone https://github.com/galliumdata/adumbra.git
           cd adumbra
           mvn clean package
       
