name: Run test

on:
  # Allows you to run this workflow manually from the Actions tab in the GitHub UI
  workflow_dispatch:

jobs:
  # 1. Define a job ID (e.g., 'system_info')
  system_info:
    # 2. Specify the runner environment
    runs-on: ubuntu-latest
    
    # 3. Define the steps to be executed
    steps:
      # 4. Define a step and run the command
      - name: Rumnig task
        run:  sudo docker run -it rust
        
