name: nehal

on:
  workflow_dispatch:

jobs:
  build:
     runs-on: ubuntu-latest

     steps:
       - name: run
         run: |
           sudo apt install python3 -y
           python3 -v venv env
           ./env/bin/pip install torch 
           
       
