name: nehal

on:
  workflow_dispatch:

jobs:
  build:
     runs-on: windows-latest

     steps:
       - name: Checkout code
         uses: actions/checkout@v2
       - name: Set up Node.js
         uses: actions/setup-dotnet@v2
         with:
          dotnet-version: '9'
       - name: run
         run: |
           dotnet new console nehal
           cd nehal
           dotnet build
       - name: upload
         uses: action/upload-artifact@v4
         with:
            name: uploading 
            path: build
