name: test

on:
  workflow_dispatch:

jobs:
  blender-job:
    runs-on: ubuntu-latest

    steps:
      

      - name: Install
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Run Blender with xvfb and record video
        run: |
          ffmpeg 

          
      
