name: Run start

on:
  workflow_dispatch:   # manual trigger

jobs:
  run:
    runs-on: ubuntu:latest   # must be a self-hosted runner with KVM support
    steps:
      
      - name: Install QEMU and dependencies
        run: |
          sudo apt-get update
          

    
