name: nehal

on:
  workflow_dispatch:

jobs:
  build:
     runs-on: windows-latest

     steps:
       - name: run
         run: |
           dotnet new console nehal
           cd nehal
           dotnet build
       - name: upload
         uses: action/upload-artifact@v4
         with:
            name: uploading 
            path: build
