name: Build Rust in Docker

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      
      # Run container interactively to verify Rust installation
      - name: Verify Rust installation
        run: |
           systeminfo
