name: Build NDK HelloWorld APK

on:
  workflow_dispatch:   # run manually
  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1. Install prerequisites
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Install Android SDK
      uses: android-actions/setup-android@v3
      with:
        api-level: 33
        build-tools: 33.0.2
        ndk: 25.2.9519653
        cmake: 3.22.1

    # 2. Clone the external repo
    - name: Clone NDK HelloWorld repo
      run: git clone https://github.com/akash-rajak/Hello-World-with-Android-NDK.git

    # 3. Change into project directory
    - name: Change directory
      run: cd Hello-World-with-Android-NDK && ls -la

    # 4. Build APK
    - name: Build APK
      run: |
        cd Hello-World-with-Android-NDK
        chmod +x gradlew
        gradle assembleDebug

    # 5. Upload artifact
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Hello-World-with-Android-NDK
        path: Hello-World-with-Android-NDK/app/build/outputs/apk/debug/app-debug.apk
