name: nehal

on:
  workflow_dispatch:

jobs:
  build:
     runs-on: windows-latest

     steps:
       - name: run
         run: |
           git clone https://github.com/RoaringBitmap/RoaringBitmap.git
           cd RoaringBitmap
           chmod 777 gradlew
           ./gradlew build 
       
